* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gilroy';
}

html, body {
    height: 100%;
    width: 100%;
}


#box{
    height: 500px;
    width: 500px;
    background-color: crimson;
}

#inner{
    height: 50%;
    width: 50%;
    background-color: royalblue;
}