* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gilroy';
}

html, body {
    height: 100%;
    width: 100%;
}

.main{
    height: 100px;
    width: 100%;
    position: relative;
}

.nav{
    height: 100px;
    width: 100%;
    border-bottom: 2px solid #dadada;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3vw

}


.nav-part2{
    display: flex;
   align-items: center;
    gap: 4vw;
}

.nav h2{
    font-size: 2vw;
    font-weight: 700;

}

.nav h4{
    font-size: 1.4vw;
}
.nav i{
    font-size: 1.5vw;
    font-weight: 800;
    display: none;
}



@media(max-width: 600px) {
    .nav{
        background-color: lightseagreen;
        color: white;
        padding: 0 5vw;
    }
    .nav h2{
        font-size: 6vw;
    }
    .nav h4{
        font-size: 4vw;
        display: none;
    }
    .nav i{
        display: block;
    }

}
